services:
  db:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env

  web:
    build: 
      context: .
      dockerfile: Dockerfile.backend
    command: python manage.py runserver 0.0.0.0:8000
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "${DJANGO_PORT}:8000" # Host:Container
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped

volumes:
  pgdata: